.nav-pad-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.profile-user-info {
    padding-top: 25px;
    text-align: center;
}

.profile-user-info .profile-user-name {
    font-size: 30px;
    text-overflow: ellipsis;
    padding-top: 1rem;
}

.profile-social-icons {
    font-size: 24px;
}

.badge-default {
    background-color: #95a5a6;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    padding: 0.5rem;
}

footer {
    background-color: #F2F2F2;
    padding: 1.2rem;
}

/** show post */
.post .card img {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.post .author {
    margin-top: 10px;
}

.post .description {
    margin-top: 10px;
}

.post .title a {
    font-size: 1rem;
}

.article {
    font-weight: 700;
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: 0.3rem solid #2B3E4E;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
}
hr.style-eight:after {
    /* content: "§"; */
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

hr.style-editor {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: 0.3rem solid #2B3E4E;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0px;
}
hr.style-editor:after {
    /* content: "§"; */
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.pagination {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.pagination .page-link {
    background-color: #F2F2F2;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.detail-post img {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.detail-post .author {
    margin-top: 1rem;
    font-size: 1rem;
}

.detail-post .description {
    font-size: 1rem;
}

.subscribe {
    background-color: #00BC9E;
    color: #FFF;
    font-size: 2rem;
    text-align: center;
}

.detail-post .title h1 {
    font-size: 2.5rem;
}